{% extends 'base.html' %}

{% block body %}
  

<div class="col-12">
  <h1>New Log Entry</h1>
  
  
  <div class="alert alert-primary">
    
    Task: T-{{ task_id }} {{ task['title'] }}
  
  
  </div>
  
  <form method="post" class="needs-validation" novalidate>
    <div class="row g-3">
    <div class="col-12"> <!-- Date input -->
      <label for="date" class="form-label" >Date</label>
      <input class="form-control" id="date" name="date" placeholder="YYYY-MM-DD" type="text" required/>
      <div class="invalid-feedback">
        Date is required.
      </div>
    </div>

    <div class="col-12">
      <label for="content" class="form-label">Description <span class="text-danger">*</span></label>
      <textarea name="content" rows="5" id="content" class="form-control" required>{{ request.form['content'] }}</textarea>
    </div>
    

    <label for="actual" class="form-label">Time worked</label>
    <div class="col-6"> 
      <label for="hours" class="form-label">Hours <span class="text-danger">*</span></label>
      <input name="hours" id="hours" class="form-control" value="0" onkeypress="return isNumber(event)" onpaste="return false;" required>
      <div class="invalid-feedback">
        Field is required. User 0h is necessary.
      </div>
    </div>

    <div class="col-6"> 
      <label for="mintues" class="form-label">Minutes <span class="text-danger">*</span></label>
      <input name="minutes" id="minutes" class="form-control" value="0" onkeypress="return isNumber(event)" onpaste="return false;" required>
      <div class="invalid-feedback">
        Field is required. User 0min is necessary.
      </div>
    </div>

    <div class="col-12">
    <input type="submit" class="w-100 btn btn-primary btn-lg" value="Save">
    </div>
    <div class="col-12">
      <a class="action w-100 btn btn-outline-primary btn-lg" onclick="history.back(-1)" >
        Cancel
      </a>
      </div>
  </div>
  </form>

</div>
{% endblock %}
